<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBRM5Nk8Pt9sngrP_e0Cv7SME7KIo0w6vI</string>
	<key>GCM_SENDER_ID</key>
	<string>689046022580</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bigjmn.welp</string>
	<key>PROJECT_ID</key>
	<string>welp-3521c</string>
	<key>STORAGE_BUCKET</key>
	<string>welp-3521c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689046022580:ios:85d316913ff734f70d6ae1</string>
</dict>
</plist>